/*--------------------------------------
	- lp Call To Action
----------------------------------------*/
.me-cta-widget {
  --me-call-dark-bg: var(--clr-white);
  --me-item-bg: var(--me-call-item-bg);
  --me-call-btn-bg: var(--me-btn-bg);
  --me-item-radius: 2.5rem;
  --me-title-ff: var(--ff-jost);
  --me-title-fs: var(--fs-40);
  --me-title-fw: var(--fw-500);
  --me-title-clr: var(--clr-white);
  --me-p-ff: var(--ff-jost);
  --me-p-fs: var(--fs-18);
  --me-p-fw: var(--fw-400);
  --me-p-clr: var(--clr-white);
  --me-b-ff: var(--ff-jost);
  --me-b-fs: var(--fs-18);
  --me-b-fw: var(--fw-500);
  --me-b-clr: var(--btn-clr);
  --me-h-clr: var(--me-call-bg);
  --me-b-shadow: var(--me-btn-shadow);
  --me-call-of-bg: var(--me-call-offer-bg);
  --me-time-offer-ff: var(--ff-dancing);
  --me-time-offer-fs: var(--fs-40);
  --me-time-offer-fw: var(--fw-700);
  --me-time-offer-clr: var(--me-travel-clr);
  --me-time-offer-title-ff: var(--ff-dancing);
  --me-time-offer-title-fs: var(--fs-90);
  --me-time-offer-title-fw: var(--fw-700);
  --me-time-offer-title-clr: var(--me-travel-clr);
  padding-top: 100px;
  padding-bottom: 100px;
}
.me-cta-widget .me-title {
  font-family: var(--me-title-ff);
  font-size: var(--me-title-fs);
  font-weight: var(--me-title-fw);
  color: var(--me-title-clr);
}
.me-cta-widget .me-content {
  font-family: var(--me-p-ff);
  font-size: var(--me-p-fs);
  font-weight: var(--me-p-fw);
  color: var(--me-p-clr);
  line-height: 1.667;
}
.me-cta-widget .me-time-offer {
  font-family: var(--me-time-offer-ff);
  font-size: var(--me-time-offer-fs);
  font-weight: var(--me-time-offer-fw);
  color: var(--me-time-offer-clr);
}
.me-cta-widget .me-time-offer-title {
  font-family: var(--me-time-offer-title-ff);
  font-size: var(--me-time-offer-title-fs);
  font-weight: var(--me-time-offer-title-fw);
  color: var(--me-time-offer-title-clr);
}
.me-cta-widget .me-cta-p {
  --me-p-fs: var(--fs-20);
}
.me-cta-widget .me-cta-btn {
  margin-top: var(--gutter-40);
}
.me-cta-widget-one .me-content {
  margin-top: var(--gutter-5);
}
.me-cta-widget-one .me-cta {
  background: var(--me-item-bg);
  padding: 3.75rem 4.375rem;
  border-radius: var(--me-item-radius);
}
.me-cta-widget-one .me-cta-button {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: var(--gutter-50);
}
@media screen and (min-width: 992px) {
  .me-cta-widget-one .me-cta-button {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
}
.me-cta-widget-one .me-btn {
  font-family: var(--ff-jost);
  -webkit-box-shadow: 5px 10px 50px rgba(0, 108, 249, 0.08);
          box-shadow: 5px 10px 50px rgba(0, 108, 249, 0.08);
}
.me-cta-widget-two {
  position: relative;
  --me-title-fs: var(--fs-50);
}
.me-cta-widget-two .me-cta-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 4.125rem;
  padding: var(--gutter-50) var(--gutter-20);
}
@media screen and (min-width: 992px) {
  .me-cta-widget-two .me-cta-image {
    padding: 4.375rem var(--gutter-20) 6.25rem;
  }
}
.me-cta-widget-two .me-cta-image .me-call-action-btn {
  margin-top: 4rem;
}
.me-cta-widget-two .me-cta-image .me-call-action-btn img {
  vertical-align: middle;
  display: inline-block;
}
.me-cta-widget-two .me-cta-image .me-call-action-btn a {
  color: var(--clr-white);
  margin-right: 2rem;
}
.me-cta-widget-two .me-content {
  line-height: 1.667;
  margin-top: var(--gutter-5);
}
.me-cta-widget-two .me-cta-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--gutter-30);
  margin-top: var(--gutter-40);
}
.me-cta-widget-two .me-cta-btn .me-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8125rem;
  --btn-py: 1rem;
}
.me-cta-widget-two .me-cta-btn .me-btn:hover {
  --btn-bg: transparent;
  --btn-clr: var(--clr-white);
}
.me-cta-widget-three {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.me-cta-widget-three::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(3, 0, 20, 0.7);
}
.me-cta-widget-three .me-content {
  line-height: 1.667;
  margin-top: var(--gutter-15);
}
.me-cta-widget-four {
  --me-title-clr: var(--clr-black-50);
  --me-p-clr: var(--clr-black-50);
}
.me-cta-widget-four .me-content {
  margin-top: var(--gutter-25);
  opacity: 0.7;
}
.me-cta-widget-five {
  background-color: #FFE0E0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/*# sourceMappingURL=call-to-action.css.map */