/*--------------------------------------
	- lp Team
----------------------------------------*/
.me-team-widget {
  --me-team-dark-bg: var(--me-dark-bg);
  --me-item-bg: var(--clr-item-bg);
  --me-itam-shape-bg: var(--me-shape-bg-2);
  --me-item-shadow: 5px 5px 50px rgba(0, 15, 45, 0.1);
  --me-item-radius: 2rem;
  --me-title-ff: var(--ff-jost);
  --me-title-fs: var(--fs-20);
  --me-title-fw: var(--fw-500);
  --me-title-clr: var(--clr-black-10);
  --me-dg-ff: var(--ff-jost);
  --me-dg-fs: var(--fs-12);
  --me-dg-fw: var(--fw-400);
  --me-dg-clr: var(--clr-black-10);
  --me-dg-opacity: 0.5;
  --me-p-ff: var(--ff-jost);
  --me-p-fs: var(--fs-16);
  --me-p-fw: var(--fw-400);
  --me-p-clr: var(--clr-black-10);
  --me-p-opacity: 0.7;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  z-index: 9;
}
.me-team-widget .me-team-title {
  font-family: var(--me-title-ff);
  font-size: var(--me-title-fs);
  font-weight: var(--me-title-fw);
  color: var(--me-title-clr);
  line-height: 1.45;
}
.me-team-widget .me-team-designation {
  font-family: var(--me-dg-ff);
  font-size: var(--me-dg-fs);
  font-weight: var(--me-dg-fw);
  color: var(--me-dg-clr);
  opacity: var(--me-dg-opacity);
  line-height: 1.417;
}
.me-team-widget .me-team-content {
  font-family: var(--me-p-ff);
  font-size: var(--me-p-fs);
  font-weight: var(--me-p-fw);
  color: var(--me-p-clr);
  opacity: var(--me-p-opacity);
  line-height: 1.4;
}

.me-dark-bg {
  background: var(--clr-black-60);
}

.me-light-title-clr {
  --me-title-clr: var(--clr-white);
}

.me-light-dg-clr {
  --me-dg-clr: var(--clr-white);
}

.me-radius-none {
  --me-item-radius: 0;
}

.me-radius-rounded {
  --me-item-radius: 13px;
}

.me-radius {
  --me-item-radius: 13px 13px var(--gutter-20) var(--gutter-20);
}

.me-radius-3 {
  --me-item-radius: 13px 13px 0 0;
}

.me-radius-img {
  --me-item-radius: 50%;
}

.me-team-item-shape {
  --me-shape-bg: var(--me-shape-bg-2) ;
}

.me-team-item-bg-1 {
  --me-item-bg: var(--clr-team-bg);
}

.me-team-item-bg-2 {
  --me-item-bg: var(--clr-team-bg-2);
}

.me-team-item-bg-3 {
  --me-item-bg: var(--clr-team-bg-3);
}

.me-team-item-bg-4 {
  --me-item-bg: var(--clr-team-bg-4);
}

.me-team-item-bg-5 {
  --me-item-bg: var(--clr-team-bg-5);
}

.me-team-item-bg-6 {
  --me-item-bg: var(--clr-team-bg-6);
}

.me-social-bg {
  --me-social-bg: rgba(255, 255, 255, 0.1);
}

.me-team-social-link {
  --me-social-bg: rgba(24, 119, 242, 0.1);
  --me-social-clr: #1877F2;
  --me-social-hover-bg: rgba(24, 119, 242, 1);
  --me-social-hover-clr: var(--clr-white);
  --me-social-border: 1px solid rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: var(--gutter-10);
     -moz-column-gap: var(--gutter-10);
          column-gap: var(--gutter-10);
  padding-top: var(--gutter-15);
  padding-bottom: var(--gutter-10);
}
.me-team-social-link li a {
  width: 2.1875rem;
  height: 2.1875rem;
  line-height: 2.1875rem;
  border-radius: 50%;
  text-align: center;
  text-align: center;
  background: var(--me-social-bg);
  color: var(--me-social-clr);
  display: block;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.me-team-social-link li a:hover {
  background: var(--me-social-hover-bg);
  color: var(--me-social-hover-clr);
}
.me-team-social-link li:nth-child(2) {
  --me-social-bg: rgba(3, 169, 244, .1);
  --me-social-clr: rgba(3, 169, 244, 1);
  --me-social-hover-bg: rgba(3, 169, 244, 1);
  --me-social-hover-clr: var(--clr-white);
}
.me-team-social-link li:nth-child(3) {
  --me-social-bg: rgba(10, 102, 194, 0.1);
  --me-social-clr: rgba(10, 102, 194, 1);
  --me-social-hover-bg: rgba(10, 102, 194, 1);
  --me-social-hover-clr: var(--clr-white);
}
.me-team-social-link li:nth-child(4) {
  --me-social-bg: rgba(255, 0, 0, .1);
  --me-social-clr: rgba(255, 0, 0, 1);
  --me-social-hover-bg: rgba(255, 0, 0, 1);
  --me-social-hover-clr: var(--clr-white);
}

.anim-icons {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.anim-icons .icon {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-dot-1 {
  width: 25px;
  height: 25px;
  z-index: 2;
  left: 6.875rem;
  top: 16.875rem;
}

.icon-dot-2 {
  width: 14px;
  height: 14px;
  z-index: 2;
  left: 20rem;
  top: 17.5rem;
}

.icon-dot-3 {
  width: 25px;
  height: 25px;
  z-index: 2;
  left: 3.125rem;
  top: 4.375rem;
}

.icon-dot-4 {
  width: 9px;
  height: 9px;
  z-index: 2;
  left: 16.875rem;
  top: 12.5rem;
}

:is(.me-team-layout-one,
.me-team-layout-two,
.me-team-layout-three,
.me-team-layout-four,
.me-team-layout-five,
.me-team-layout-six) {
  position: relative;
}
:is(.me-team-layout-one,
.me-team-layout-two,
.me-team-layout-three,
.me-team-layout-four,
.me-team-layout-five,
.me-team-layout-six) .me-team-item {
  background: var(--clr-white);
  -webkit-box-shadow: 5px 5px 50px rgba(0, 15, 45, 0.1);
          box-shadow: 5px 5px 50px rgba(0, 15, 45, 0.1);
  border-radius: 20px;
  padding: var(--gutter-15);
  margin-top: var(--gutter-30);
}
:is(.me-team-layout-one,
.me-team-layout-two,
.me-team-layout-three,
.me-team-layout-four,
.me-team-layout-five,
.me-team-layout-six) .me-team-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
:is(.me-team-layout-one,
.me-team-layout-two,
.me-team-layout-three,
.me-team-layout-four,
.me-team-layout-five,
.me-team-layout-six) .me-team-wrapper {
  padding-top: var(--gutter-20);
  padding-left: var(--gutter-5);
}
:is(.me-team-layout-one,
.me-team-layout-two,
.me-team-layout-three,
.me-team-layout-four,
.me-team-layout-five,
.me-team-layout-six) .me-team-content {
  margin-top: var(--gutter-10);
  padding-bottom: var(--gutter-10);
  background: var(--me-social-bg);
  color: var(--me-social-clr);
  position: relative;
  z-index: 99;
}

.me-team-layout-three .me-team-item {
  border-top-left-radius: 137px;
  border-top-right-radius: 137px;
}
.me-team-layout-three .me-team-item .me-team-image {
  width: 15.3125rem;
  height: 15.3125rem;
  line-height: 15.3125rem;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}

.me-team-layout-four .me-team-item {
  border-radius: 137px;
}
.me-team-layout-four .me-team-item .me-team-image {
  width: 15.3125rem;
  height: 15.3125rem;
  line-height: 15.3125rem;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}

.me-team-layout-five {
  position: relative;
  z-index: 9;
}
.me-team-layout-five .me-team-item {
  background: var(--me-item-bg);
  -webkit-box-shadow: var(--me-item-shadow);
          box-shadow: var(--me-item-shadow);
  padding: var(--gutter-40);
}
.me-team-layout-five .me-team-item svg {
  --me-shape-svg-bg-1: var(--me-shape-bg-1);
}
.me-team-layout-five .me-team-item svg {
  --me-shape-svg-bg-2: var(--me-shape-bg-2);
}
.me-team-layout-five .me-team-item svg {
  --me-shape-svg-bg-3: var(--me-shape-bg-3);
}
.me-team-layout-five .me-team-item .me-team-wrapper {
  text-align: center;
  position: relative;
  z-index: 9;
}
.me-team-layout-five .me-team-item .me-team-social-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.me-team-layout-five .me-team-item .me-team-social-link li a {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 50%;
  text-align: center;
  background: var(--me-social-bg);
  border: var(--me-social-border);
}
.me-team-layout-five .me-team-item .me-team-social-link li a:hover {
  background: var(--me-social-hover-bg);
  color: var(--me-social-hover-clr);
  border-color: transparent;
}
.me-team-layout-five .me-col-md-6:nth-child(1) .me-team-item {
  --me-item-bg: var(--clr-team-bg-1);
}
.me-team-layout-five .me-col-md-6:nth-child(2) .me-team-item {
  --me-item-bg: var(--clr-team-bg-2);
}
.me-team-layout-five .me-col-md-6:nth-child(3) .me-team-item {
  --me-item-bg: var(--clr-team-bg-3);
}

.me-team-layout-six {
  position: relative;
  z-index: 9;
}
.me-team-layout-six .me-team-item {
  background: var(--me-item-bg);
  -webkit-box-shadow: var(--me-item-shadow);
          box-shadow: var(--me-item-shadow);
  padding: var(--gutter-40);
}
.me-team-layout-six .me-team-item svg {
  --me-shape-svg-bg-1: var(--me-shape-bg-1);
}
.me-team-layout-six .me-team-item svg {
  --me-shape-svg-bg-2: var(--me-shape-bg-2);
}
.me-team-layout-six .me-team-item svg {
  --me-shape-svg-bg-3: var(--me-shape-bg-3);
}
.me-team-layout-six .me-team-wrapper {
  text-align: center;
  position: relative;
  z-index: 9;
}
.me-team-layout-six .me-team-social-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.me-team-layout-six .me-team-social-link li a {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background: var(--me-social-bg);
  border: var(--me-social-border);
}
.me-team-layout-six .me-team-social-link li a:hover {
  background: var(--me-social-hover-bg);
  color: var(--me-social-hover-clr);
  border-color: transparent;
}
.me-team-layout-six .me-col-md-6:nth-child(1) .me-team-item {
  --me-item-bg: var(--clr-team-bg-4);
}
.me-team-layout-six .me-col-md-6:nth-child(2) .me-team-item {
  --me-item-bg: var(--clr-team-bg-5);
}
.me-team-layout-six .me-col-md-6:nth-child(3) .me-team-item {
  --me-item-bg: var(--clr-team-bg-6);
}
/*# sourceMappingURL=team.css.map */