/**
 * Convert font-size from px to rem with px fallback
 *
 * @param $size - the value in pixel you want to convert
 *
 * e.g. p {@include fontSize(12px);}
 *
 */
.col, .me-col-xl-6, .me-col-xl-7, .me-col-xl-4, .me-col-xl-8, .me-col-xl-3, .me-col-lg-12, .me-col-lg-10, .me-col-lg-9, .me-col-lg-8, .me-col-lg-7, .me-col-lg-6, .me-col-lg-5, .me-col-lg-4, .me-col-lg-3, .me-col-lg-2, .me-col-lg-1, .me-col-md-8, .me-col-md-6, .me-col-md-4, .me-col-sm-8, .me-col-sm-6, .me-col-sm-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/*--------------------------------------
	- Utilities
----------------------------------------*/
:root {
  --ff-jost: "Jost", sans-serif;
  --ff-dancing: "Dancing Script", cursive;
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-15: 0.9375rem;
  --fs-16: 1rem;
  --fs-17: 1.0625rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-23: 1.4375rem;
  --fs-24: 1.5rem;
  --fs-25: 1.5625rem;
  --fs-26: 1.625rem;
  --fs-27: 1.6875rem;
  --fs-28: 1.75rem;
  --fs-29: 1.8125rem;
  --fs-30: 1.875rem;
  --fs-32: 2rem;
  --fs-33: 2.0625rem;
  --fs-34: 2.125rem;
  --fs-35: 2.1875rem;
  --fs-36: 2.25rem;
  --fs-37: 2.3125rem;
  --fs-38: 2.375rem;
  --fs-39: 2.4375rem;
  --fs-40: 2.5rem;
  --fs-42: 2.625rem;
  --fs-43: 2.6875rem;
  --fs-44: 2.75rem;
  --fs-45: 2.8125rem;
  --fs-46: 2.875rem;
  --fs-47: 2.9375rem;
  --fs-48: 3rem;
  --fs-49: 3.0625rem;
  --fs-50: 3.125rem;
  --fs-90: 5.625rem;
  --gutter-x: 1.875rem;
  --gutter-5: 0.3125rem;
  --gutter-10: 0.625rem;
  --gutter-15: 0.9375rem;
  --gutter-20: 1.25rem;
  --gutter-25: 1.5625rem;
  --gutter-30: 1.875rem;
  --gutter-35: 2.1875rem;
  --gutter-40: 2.5rem;
  --gutter-45: 2.8125rem;
  --gutter-50: 3.125rem;
  --border-width: 0.0625rem;
  --border-style: solid;
  --border-clr: transparent;
  --border: var(--border-width) var(--border-style) var(--border-clr);
  --border-t: var(--border-width) var(--border-style) var(--border-clr);
  --border-r: var(--border-width) var(--border-style) var(--border-clr);
  --border-b: var(--border-width) var(--border-style) var(--border-clr);
  --border-l: var(--border-width) var(--border-style) var(--border-clr);
  --border-x: var(--border-width) var(--border-style) var(--border-clr);
  --border-y: var(--border-width) var(--border-style) var(--border-clr);
  --radius: 0;
  --radius-t: 0;
  --radius-r: 0;
  --radius-b: 0;
  --radius-l: 0;
  --radius-full: 50%;
  --btn-bg: transparent;
  --btn-clr: inherit;
  --btn-ff: var(--ff-roboto);
  --btn-fs: var(--fs-15);
  --btn-py: 0.625rem;
  --btn-px: 1.125rem;
  --btn-my: var(--my);
  --btn-mx: var(--mx);
  --clr-black: #000;
  --clr-black-10: #0A0B2E;
  --clr-black-20: #14183E;
  --clr-black-30: #141426;
  --clr-black-40: #0B1017;
  --clr-black-50: #030014;
  --clr-black-60: #121826;
  --clr-white: #FFFFFF;
  --clr-sky: #00C2FF;
  --clr-yellow: #FFF173;
  --clr-orange: #F5A556;
  --clr-red: #FF275B;
  --clr-item-bg: rgba(255, 255, 255, 0.05);
  --clr-p-item-bg: rgba(255, 255, 255, 0.9);
  --clr-plus-bg: rgba(255, 255, 255, 0.3);
  --clr-p-button: rgba(10, 11, 46, 0.3);
  --clr-ser-bg: #f7f8fc;
  --clr-ser-5-bg: #111319;
  --clr-icon-bg: rgba(243, 255, 255, 0.03);
  --clr-i-bg-1: rgba(255, 100, 156, 0.1);
  --clr-i-bg-2: rgba(255, 185, 81, 0.1);
  --clr-i-bg-3: rgba(255, 100, 156, 0.1);
  --me-icon-color: #546083;
  --me-testi-icon-clr: #FDDB61;
  --me-ser-link: rgba(255, 16, 102, 1);
  --me-dotted-h-bg: #FF0A62;
  --clr-white: #fff;
  --clr-team-bg-1: #FFD6D6;
  --clr-team-bg-2: #ABFDDF;
  --clr-team-bg-3: #F2D6FF;
  --clr-team-bg-4: rgba(255, 214, 214, 0.1);
  --clr-team-bg-5: rgba(171, 253, 223, 0.1);
  --clr-team-bg-6: rgba(242, 214, 255, 0.1);
  --me-shape-bg-1: #CE6666;
  --me-shape-bg-2: #57B090;
  --me-shape-bg-3: #B476D1;
  --me-call-item-bg: linear-gradient(189deg, #00FFD1 -9.69%, #0057FF 110.38%);
  --me-card-image-bg: linear-gradient(331.37deg, #FF2C58 0%, #FF7491 100%);
  --me-card-overlay-bg: linear-gradient(180deg, rgba(26, 27, 71, 0) 7.42%, #1A1B47 100%);
  --me-card-item-bg1: linear-gradient(150.39deg, #10A9FF -9.72%, #E88AFF 102.87%);
  --me-card-item-bg2: linear-gradient(150.39deg, #88FFD4 -9.72%, #10D4FF 102.87%);
  --me-card-item-bg3: linear-gradient(150.39deg, #E88AFF -9.72%, #FF1066 102.87%);
  --me-card-item-bg4: linear-gradient(148.46deg, #F06966 2.19%, #FAD6A6 102.79%);
  --me-card-item-bg5: linear-gradient(150.39deg, #F6D1FF -9.72%, #A410FF 102.87%);
  --me-ser-item-bg1: linear-gradient(45deg, #FF195E 21.72%, #FFC5A3 85.36%);
  --me-ser-item-bg2: linear-gradient(45deg, #0056E0 14.64%, #369BE0 39.08%, #61D1E0 60.59%, #7BF2E0 76.62%, #85FFE0 85.36%);
  --me-ser-item-bg3: linear-gradient(45deg, #00AA45 14.64%, #D3FF33 85.36%);
  --me-ser-item-bg4: linear-gradient(45deg, #FF4A5C 14.64%, #FF6D69 26.22%, #FFA37E 46.15%, #FFCB8D 63.36%, #FFE497 77%, #FFEC9A 85.36%);
  --me-card-img-bg: #FF7491;
  --me-cd-item-bg: rgba(255, 242, 223, 0.3);
  --me-cd-item-bg-2: rgba(227, 253, 171, 0.3);
  --me-cd-item-bg-3: rgba(254, 221, 255, 0.3);
  --me-card-ck-bg: rgba(230, 12, 94, 0.1);
  --me-border-clr: #E60C5E;
  --me-card-btn-clr: #E60C5E;
  --me-card-bg: #111111;
  --me-item-border-clr: #FFF2DF;
  --me-item-border-clr-2: #111111;
  --me-item-border-clr-3: #FEDDFF;
  --me-item-sp-color: #FFE9E9;
  --me-item-sp-color-2: #F5E9FF;
  --me-item-sp-color-3: #FFFDE9;
  --me-item-sp-color-4: #E4D8FF;
  --me-item-sp-color-5: #FDE9FF;
  --me-price-shadow: 0px 4px 50px rgba(41, 0, 15, 0.03);
  --me-price-tit-clr: #1E2046;
  --me-price-clr: #546083;
  --me-price-bg1: #E5E5E5;
  --me-p-rib-clr1: #FF6C75;
  --me-p-rib-clr-2: rgba(170, 128, 255, 1);
  --me-p-rib-clr-3: rgba(48, 207, 160, 1);
  --me-p-btn-clr2: #898998;
  --me-b-btn-clr3: #1FA3FF;
  --me-btn-border: #898998;
  --me-p-btn-bg: linear-gradient(180deg, rgba(31, 228, 255, 0.1) -8.89%, rgba(31, 163, 255, 0.1)100%);
  --me-p-btn-h-bg: linear-gradient(180deg, #1FE4FF -8.89%, #1FA3FF 100%);
  --me-p-info-bg: #F7F9FA;
  --me-p-info-bg2: #f7f9fa;
  --me-icon-bg1: linear-gradient(0deg, #25D4A9 0%, #57FFC3 100%);
  --me-icon-bg2: rgba(0, 0, 0, 0.1);
  --me-p-btn-border2: rgba(255, 16, 102, 0.05);
  --me-p-btn-clr1: #FF1066;
  --me-call-offer-bg: #FFE0E0;
  --me-btn-bg: #FFF173;
  --me-btn-bg-2: #F5A556;
  --me-btn-bg-3: #FF275B;
  --me-btn-clr: #08003D;
  --me-travel-clr: #030014;
  --clr-fb: rgba(24, 118, 242, 0.075);
  --clr-tw: #03a9f4;
  --clr-in: rgba(10, 102, 194, 0.075);
  --clr-yt: rgb(253, 37, 59, 0.25);
  --clr-pag-ac-bg: rgba(255, 10, 98, 1);
  --clr-pag-bg: rgba(255, 10, 98, 0.1);
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: var(--font-jost);
  font-weight: 400;
  font-size: var(--fs-15);
  line-height: 1.5625rem;
  text-rendering: optimizeSpeed;
  image-rendering: -webkit-optimize-contrast;
  color: var(--clr-black);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-jost);
  color: #14183E;
  line-height: 1.4;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 2rem;
}

@media screen and (min-width: 20rem) {
  h1 {
    font-size: calc(2rem + 1.75 * ((100vw - 20rem) / 55));
  }
}
@media screen and (min-width: 75rem) {
  h1 {
    font-size: 3.75rem;
  }
}
h2 {
  font-size: 2rem;
}

@media screen and (min-width: 20rem) {
  h2 {
    font-size: calc(2rem + 1 * ((100vw - 20rem) / 55));
  }
}
@media screen and (min-width: 75rem) {
  h2 {
    font-size: 3rem;
  }
}
h3 {
  font-size: 1.375rem;
}

@media screen and (min-width: 20rem) {
  h3 {
    font-size: calc(1.375rem + 0.125 * ((100vw - 20rem) / 55));
  }
}
@media screen and (min-width: 75rem) {
  h3 {
    font-size: 1.5rem;
  }
}
h4 {
  font-size: 1rem;
}

@media screen and (min-width: 20rem) {
  h4 {
    font-size: calc(1rem + 0.125 * ((100vw - 20rem) / 55));
  }
}
@media screen and (min-width: 75rem) {
  h4 {
    font-size: 1.125rem;
  }
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

hr {
  background: #c2cfff;
  width: 50px;
  height: 3px;
  margin: 35px 0;
  padding: 0;
  border: none;
}

@media screen and (min-width: 768px) {
  hr {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
p {
  margin: 0;
}

label {
  color: var(--clr-black);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

/*--------------------------------------
	- Color
----------------------------------------*/
.color {
  color: var(--clr-black);
}

.text-black {
  color: var(--clr-black) !important;
}

.bg-black {
  background: var(--clr-black);
}

.text-white {
  color: var(--clr-white) !important;
}

.bg-white {
  background: var(--clr-white);
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

@media (min-width: 576px) {
  .flex-md-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/*--
    - Font Famaly
-----------------------------------------*/
/*--
    - Font weight
-----------------------------------------*/
.font-regular {
  font-weight: var(--fw-400);
}

.font-medium {
  font-weight: var(--fw-500);
}

.font-semi-bold {
  font-weight: var(--fw-600);
}

.font-bold {
  font-weight: var(--fw-700);
}

.font-black {
  font-weight: var(--fw-900);
}

/*--
    - Font Size
-----------------------------------------*/
/*--
    - Margin
-------------------------------------------*/
.mt-n3 {
  margin-top: -0.4375rem;
}

.mt-n4 {
  margin-top: -0.75rem;
}

.mt-n5 {
  margin-top: -1.7rem;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-73 {
  margin-top: 4.5625rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

@media (min-width: 768px) {
  .mt-md-n4 {
    margin-top: -0.75rem;
  }
}
.mt-40 {
  margin-top: 40px;
}

/*---
-- Padding
-------------------------------------------*/
.pt-1 {
  padding-top: 0.25rem;
}

.pt-9 {
  padding-top: 2.5rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pt-18 {
  padding-top: 4.5rem;
}

.pt-36 {
  padding-top: 9rem;
}

.pt-40 {
  padding-top: 10rem;
}

.pl-9 {
  padding-left: 2.5rem;
}

.pr-9 {
  padding-right: 2.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pb-18 {
  padding-bottom: 4.5rem;
}

.pb-36 {
  padding-bottom: 9rem;
}

.pb-40 {
  padding-bottom: 10rem;
}

.pb-49 {
  padding-bottom: 12.5rem;
}

.align-items {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*--------------------------------------
	- Button
----------------------------------------*/
.me-btn {
  --btn-fs: var(--fs-18);
  --btn-fw: var(--fw-500);
  --btn-py: 0.5rem;
  --btn-px: 2.25rem;
  position: relative;
  font-family: var(--btn-ff);
  font-size: var(--btn-fs);
  font-weight: var(--btn-fw, var(--fw-400));
  line-height: 1;
  background: var(--btn-bg);
  color: var(--btn-clr);
  border: var(--btn-bw, var(--border-width)) var(--btn-bs, var(--border-style)) var(--btn-bc, var(--btn-bg));
  text-transform: capitalize;
  text-decoration: none;
  border-radius: var(--btn-radius, var(--radius));
  padding: var(--btn-py) var(--btn-px);
  margin: var(--btn-mx) var(--btn-mx);
  display: inline-block;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.me-btn:hover {
  color: var(--btn-clr);
}

.me-btn-sm {
  --btn-py: 0.5rem;
}

.me-btn-md {
  --btn-py: 0.75rem;
}

.me-btn-lg {
  --btn-py: 1rem;
}

.me-btn-xl {
  --btn-py: 1.25rem;
}

.me-btn-none {
  --btn-radius: 0;
}

.me-btn-round {
  --btn-radius: 0.75rem;
}

.me-btn-rounded {
  --btn-radius: 1.875rem;
}

.me-btn-round-full {
  --btn-radius: 50%;
}

.me-btn-disabled {
  pointer-events: none;
  opacity: 0.65;
}

.me-btn-black {
  --btn-bg: var(--clr-black);
  --btn-clr: var(--clr-white);
  --btn-bc: var(--clr-black);
}

.me-btn-black:hover {
  --btn-clr: var(--clr-black);
  --btn-bg: transparent;
  --btn-bc: var(--clr-black);
}

.me-btn-black:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.4rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0.4rem rgba(0, 0, 0, 0.5);
}

.me-btn-outline-black {
  --btn-clr: var(--clr-black);
  --btn-bc: var(--clr-black);
}

.me-btn-outline-black:hover {
  --btn-clr: var(--clr-white);
  --btn-bg: var(--clr-black);
  --btn-bc: var(--clr-black);
}

.me-btn-outline-black:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.4rem rgba(var(--clr-black), 0.5);
  box-shadow: 0 0 0 0.4rem rgba(var(--clr-black), 0.5);
}

.me-btn-yellow {
  --btn-bg: var(--clr-yellow);
  --btn-clr: var(--clr-black);
  --btn-bc: var(--clr-yellow);
  z-index: 1;
}

.me-btn-yellow:hover {
  --btn-clr: var(--clr-yellow);
  --btn-bg: transparent;
  --btn-bc: var(--clr-yellow);
}

.me-btn-yellow:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.4rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0.4rem rgba(0, 0, 0, 0.5);
}

.me-btn-white {
  --btn-bg: var(--clr-white);
  --btn-clr: var(--clr-sky);
  --btn-bc: var(--clr-white);
}

.me-btn-white:hover {
  --btn-clr: var(--clr-white);
  --btn-bg: var(--clr-sky);
  --btn-bc: var(--clr-white);
}

.me-btn-white:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.5);
}

.me-btn-outline-white {
  --btn-clr: var(--clr-white);
  --btn-bc: var(--clr-white);
}

.me-btn-outline-white:hover {
  --btn-clr: var(--clr-black);
  --btn-bg: var(--clr-white);
  --btn-bc: var(--clr-white);
}

.me-btn-outline-white:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.4rem rgba(var(--clr-white), 0.5);
  box-shadow: 0 0 0 0.4rem rgba(var(--clr-white), 0.5);
}

.me-btn-orange {
  --btn-bg: var(--clr-orange);
  --btn-clr: var(--clr-white);
  --btn-bc: var(--clr-orange);
}

.me-btn-orange:hover {
  --btn-clr: var(--clr-orange);
  --btn-bg: transparent;
  --btn-bc: var(--clr-orange);
}

.me-btn-orange:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.4rem rgba(245, 165, 86, 0.5);
  box-shadow: 0 0 0 0.4rem rgba(245, 165, 86, 0.5);
}

.me-btn-red {
  --btn-bg: var(--clr-red);
  --btn-clr: var(--clr-white);
  --btn-bc: var(--clr-red);
}

.me-btn-red:hover {
  --btn-clr: var(--clr-red);
  --btn-bg: transparent;
  --btn-bc: var(--clr-red);
}

.me-btn-red:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.4rem rgba(255, 39, 91, 0.5);
  box-shadow: 0 0 0 0.4rem rgba(255, 39, 91, 0.5);
}

.me-btn-light-red {
  --btn-bg: rgba(255, 16, 102, 0.1);
  --btn-clr: var(--clr-red);
  --btn-bc: rgba(255, 16, 102, 0.1);
}

.me-btn-light-red:hover {
  --btn-clr: var(--clr-white);
  --btn-bg: var(--clr-red);
  --btn-bc: transparent;
}

.me-btn-light-red:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.4rem rgba(255, 39, 91, 0.5);
  box-shadow: 0 0 0 0.4rem rgba(255, 39, 91, 0.5);
}

.me-btn-outline-red {
  --btn-clr: var(--clr-red);
  --btn-bc: var(--clr-red);
}

.me-btn-outline-red:hover {
  --btn-clr: var(--clr-white);
  --btn-bg: var(--clr-red);
  --btn-bc: var(--clr-red);
}

.me-btn-outline-red:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.4rem rgba(var(--clr-red), 0.5);
  box-shadow: 0 0 0 0.4rem rgba(var(--clr-red), 0.5);
}

/*----------------------------------------*/
/*  Grid Layout
/*----------------------------------------*/
.me-container {
  width: 100%;
  padding-right: var(--me-gutter-x, 0.9375rem);
  padding-left: var(--me-gutter-x, 0.9375rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .me-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .me-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .me-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .me-container {
    max-width: 1200px;
  }
}
@media (min-width: 1441px) {
  .me-container {
    max-width: 1200px;
  }
}
.me-container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.me-row {
  --me-gutter-x: 1.5rem;
  --me-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--me-gutter-y));
  margin-right: calc(-.5 * var(--me-gutter-x));
  margin-left: calc(-.5 * var(--me-gutter-x));
}

.me-row > * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--me-gutter-x) * .5);
  padding-left: calc(var(--me-gutter-x) * .5);
  margin-top: var(--me-gutter-y);
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.gx-0 {
  --me-gutter-x: 0;
}

@media (min-width: 576px) {
  .me-col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}
@media (min-width: 576px) {
  .me-col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 576px) {
  .me-col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}
@media (min-width: 768px) {
  .me-col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}
@media (min-width: 768px) {
  .me-col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .me-col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}
@media (min-width: 992px) {
  .me-col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}
@media (min-width: 992px) {
  .me-col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}
@media (min-width: 992px) {
  .me-col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }
}
@media (min-width: 992px) {
  .me-col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}
@media (min-width: 992px) {
  .me-col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
}
@media (min-width: 992px) {
  .me-col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .me-col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
}
@media (min-width: 992px) {
  .me-col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}
@media (min-width: 992px) {
  .me-col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
  }
}
@media (min-width: 992px) {
  .me-col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
}
@media (min-width: 992px) {
  .me-col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .me-col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .me-col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}
@media (min-width: 1200px) {
  .me-col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}
@media (min-width: 1200px) {
  .me-col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}
@media (min-width: 1200px) {
  .me-col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
}
@media (min-width: 1200px) {
  .me-col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .me-offset-lg-2 {
    margin-left: 16.6666666667%;
  }
}
@media (min-width: 992px) {
  .me-offset-lg-4 {
    margin-left: 33.3333333333%;
  }
}
@media (min-width: 992px) {
  .me-offset-lg-3 {
    margin-left: 25%;
  }
}
@media (min-width: 992px) {
  .me-offset-lg-5 {
    margin-left: 41.6666666667%;
  }
}
@media (min-width: 992px) {
  .me-offset-lg-6 {
    margin-left: 50%;
  }
}
@media (min-width: 1200px) {
  .me-offset-xl-2 {
    margin-left: 16.6666666667%;
  }
}
@media (min-width: 1200px) {
  .me-offset-xl-4 {
    margin-left: 33.3333333333%;
  }
}
@media (min-width: 992px) {
  .me-offset-lg-1 {
    margin-left: 8.3333333333%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/*# sourceMappingURL=zx-maan-addons.css.map */
